#DATABASE_URL="mysql://root@localhost:3306/db_finamix"

DATABASE_URL="mysql://root@localhost:3306/db_meme_service_meme_generator"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="db_meme_service_meme_generator"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
PORT=5553


